div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
pre,
blockquote,
article,
main,
nav,
footer,
dialog,
aside,
table,
tbody,
th,
tr,
thead,
iframe,
section,
header,
html,
body,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  scrollbar-width: thin;
}

#root {
  padding: 20px;
}

#fileTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  width: 200px;
  height: 32px;
  border-radius: 4px;
  background-color: #409eff;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

#fileTrigger:hover {
  opacity: 0.7;
}

#fileTrigger:active {
  opacity: 0.9;
}

#editor {
  display: block;
  margin-top: 20px;
  padding: 10px;
  min-height: 300px;
  height: max-content;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  outline: 0;
}
